/* App.css */

*{
 background-color: #EBFFE5;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #126912;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input{
  display: flex;
  justify-content: center;
}

.App{
  max-width: 400px;
  height: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.NavbarContainer{
  background-color: #126912;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NavbarContainer ul {
  list-style: none;
  padding: 2px 8px 2px 8px;
}
